.shapeA {
    @apply h-[608px] absolute top-[-200px] right-[-200px];

    animation: shapeAMove 15s ease-in-out infinite both;
}

@keyframes shapeAMove {
    0% {
        transform: translateX(0) translateY(0) rotate(0);
    }

    33% {
        transform: translateX(-200px) translateY(200px) rotate(40deg);
    }

    66% {
        transform: translateX(100px) translateY(280px) rotate(60deg);
    }

    100% {
        transform: translateX(0) translateY(0) rotate(0);
    }
}

.shapeB {
    @apply h-[736px] absolute bottom-[-100px] left-[-400px];

    animation: shapeBMove 15s ease-in-out infinite both;
}

@keyframes shapeBMove {
    0% {
        transform: translateX(0) translateY(0) rotate(0);
    }

    33% {
        transform: translateX(200px) translateY(-150px) rotate(-20deg);
    }

    66% {
        transform: translateX(50px) translateY(-200px) rotate(-40deg);
    }

    100% {
        transform: translateX(0) translateY(0) rotate(0);
    }
}